asgiref==3.6.0
Django==4.2.10
psycopg2==2.9.5
django-environ==0.9.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
jdatetime==4.1.0
Pillow==9.4.0
PyJWT==2.6.0
pytz==2023.2
sqlparse==0.4.3
django-filter==22.1
django-jalali==6.0.1
django-crontab==0.7.1
shortuuid==1.0.11
pytest-django==4.8.0
python-dotenv==1.0.1
djangorestframework-camel-case==1.4.2
drf-yasg==1.21.7
django-rest-swagger==2.2.0